Package: me.kirbyk.filmsearch
Name: filmSearch
Depends: mobilesubstrate, preferenceloader, firmware (>= 7.0), am.theiostre.searchloader
Version: 1.0
Architecture: iphoneos-arm
Description: Search for movies in spotlight. Requires IMDB application and iOS7.
Maintainer: Kirbyk
Author: Kirbyk
Section: Tweak
